<ion-view view-title="DresserList" cache-view="false">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="dresser in dressers" type="item-text-wrap" href="#/dresser/dresserList/{{dresser.id}}">
        <img ng-src="{{dresser.face}}">
        <h2>{{dresser.name}}</h2>
        <p>{{dresser.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <!--<ion-option-button class="button-assertive" ng-click="remove(dresser)">
          Delete
        </ion-option-button>-->
	  	<ion-option-button class="button-assertive" ng-click="CreateReservation()">
	  		Create Reservation
	  	</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
