﻿<ion-view view-title="ReservationsDetail">
	<ion-content class="padding">
		<img ng-src="{{dresser.face}}" style="width: 64px; height: 64px">
		<p>
			{{dresser.lastText}}
		</p>
	</ion-content>
</ion-view>
