<ion-view view-title="Search" cache-view="true">
	<ion-content>
		<ion-list>
			<div class="datetime">DATE $ TIME</div>
			<div class="row">
				<div class="date">
					<button class="button button-outline icon-center  button-block ion-calendar button-dark" id="datepicker" ng-click="SelectDate()">
						<div class="datetime">Select Date</div>
					</button>
				</div>
				<div class="date">
					<button class="button button-outline icon-center  button-block ion-ios-time button-dark" ng-click="clearSearchForm()">
						<div class="datetime">Select Time</div>
					</button>
				</div>
			</div>
			<div class="datetime">PRICE RANGE</div>
			<div class="row">
				<div class="price">
					<button class="button button-outline icon-center  button-block ion-social-usd button-dark" ng-click="clearSearchForm()">
						<div class="price">less 10</div>
					</button>
				</div>
				<div class="price">
					<button class="button button-outline icon-center  button-block ion-social-usd button-dark" ng-click="clearSearchForm()">
						<div class="price">10 & 15</div>
					</button>
				</div>
				<div class="price">
					<button class="button button-outline icon-center  button-block ion-social-usd button-dark" ng-click="clearSearchForm()">
						<div class="price">15 & 20</div>
					</button>
				</div>
				<div class="price">
					<button class="button button-outline icon-center  button-block ion-social-usd button-dark" ng-click="clearSearchForm()">
						<div class="price">more 20</div>
					</button>
				</div>
			</div>
			<div class="datetime padding">
				<div class="datetime">LOCATION</div>
				<label class="item item-input " style="margin-top:10px;">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="text" placeholder="New location entering">
				</label>
				<a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
			</div>
			<div class="row">
				<div class="col" style="text-align:center;">
					<button class="button button-outline icon-center  button-block ion-android-checkmark-circle button-royal" ng-click="clearSearchForm()" style="text-align:center;font-size:14px"> Cancel</button>
				</div>
				<div class="col" style="text-align:center;">
					<button class="button  button-outline  button-block button-royal button-block" ng-disabled="!filterdata.instute && !filterdata.profession && !filterdata.from && !filterdata.to && !filterdata.professionType" ng-click="filterAds()">Apply</button>
				</div>
			</div>
		</ion-list>
	</ion-content>
</ion-view>