<!--
Create tabs with an icon and label, using the tabs-stable style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-nav-bar class="bar-royal" cache-view="false">
	<ion-nav-back-button>
	</ion-nav-back-button>
	<ion-nav-button>
		<button class="button button-float" ng-click="Login()">
			<i class="icon ion-plus"></i>
		</button>
	</ion-nav-button>
</ion-nav-bar>
<ion-nav-view name="tabContent" cache-view="false"></ion-nav-view>
<ion-tabs class="tabs-icon-top tabs-royal" cache-view="false">
	<!-- DresserList Tab -->
	<ion-tab title="DressersList" cache-view="false" icon-off="ion-scissors" icon-on="ion-scissors" href="#/dresser/dressersList">
	</ion-tab>

	<!-- Dashboard Tab -->
	<ion-tab title="Reservations" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/dresser/reservations">
	</ion-tab>

	<!-- Account Tab -->
	<ion-tab title="Search" cache-view="false" icon-off="ion-search" icon-on="ion-search" href="#/dresser/search">
	</ion-tab>

</ion-tabs>
